{
    "extends": ["airbnb", "prettier"],
    "plugins": ["prettier"],
    "rules": {
        "prettier/prettier": "warn",
        "no-unused-vars": "warn",
        "no-console": "warn",
        "func-names": "off",
        "react/jsx-filename-extension": [1, {
            "extensions": [".js", ".jsx"]
        }]
    },
    "env": {
        "browser": true,
        "node": true
    }
}